.card{
    height: 600px;
    width: 500px;
    background-color: #ffe28c;    
    text-align: center;
    flex-direction: row;
    justify-content: center; 
    display: block;
    background-image: url('/src/Pages/imagens/backgound_florest.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pokemon{
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
    margin: 0 auto;
}

input{
    background-color: #ffe28c;
    border-color: #635c41;
    border-radius: 10px;
    border-width: 4px;
    margin: 5px;
    color: #171923;
    text-align: center;
    width: 150px;
    height: 30px;
}

input::placeholder{
    text-align: center;
    justify-content: center;
    color: #666a7d;
}

h4{
    margin: 5px;
    color:  #ffe28c;
}

.nomePokemon{
    margin: -20px 0px 0px 0px;
}
