body{
    background-color: black
}

.container{
    display: flex;
}

.box-esquerda{
    width: 40vw;
    height: 100vh;
    margin-top: 50px;
}

.box-direita{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.loading{
    display: flex;
    width: 200px;
    height: 200px;
}
